* {
  padding: 0;
}

header h2 {
  font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
  font-size: 32px;
  text-align: center;
  margin: 16px;
}

body {
  background-color: darkcyan;
  color: white;
}

div .caixas {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div .box {
  box-sizing: border-box;
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: antiquewhite;
}

div .box:hover {
  border: 3px solid black;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

#red {
  background-color: red;
}
